body {
    background: url('../images/hoth.jpg');
    background-size: 100%;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2em;
}


button {
    margin: 10px;
}

#villianContainer {
    display: none;
}

#heroes img {
    width: 20em;
    height: 10em;
    margin: 20px;
}

#heroes li {
    display: inline-block;
}

img {
    width: 20em;
    height:10em;
    margin: 20px;
}

.villian img {
    width: 20em;
    height: 10em;
    margin: 20px;
}

#villians li {
    display:inline-block;
}


#shownhero {
    clear: both;
}

#hidden {
    display: none;
}