#villianContainer {
    display: none;
}

#heroes img {
    width: 20em;
    height: 10em;
    float: left;
    margin: 20px;
}

img {
    width: 20em;
    height:10em;
    margin: 20px;
}

.villian img {
    width: 20em;
    height: 10em;
    margin: 20px;
}

#villians li {
    display:inline-block;
}


#shownhero {
    clear: both;
}